/* ---------------------------------------*/
/* home */
.section__container {
    width: 70%;
    margin: 0 auto;
    padding: 6rem 0;
}

.section__header {
    text-align: center;
    margin-bottom: 4.5rem;
}

.section__title {
    font-size: 3rem;
    color: var(--color-title);
    text-transform: uppercase;
    font-family: var(--font-title);
}

.section__separator {
    margin: 1.5rem 0;
}

.section__desc {
    font-size: 1.125rem;
    font-family: var(--font-italic);
}

.section__btn {
    display: inline-block;
    margin-top: 2rem;
}

.section__btn-link {
    display: block;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--color-primary);
    font-weight: 600;
    transition: all 0.3s ease;
}


/* ---------------------------------------*/
/* hero */

.hero {
    position: relative;
    max-height: 57.5rem;
}

.hero__slider {
    position: relative;
}

.hero__slide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.hero__slide.hero__slide--active {
    display: block;
}

.hero__slide-img img {
    width: 100%;
    height: 57.5rem;
    object-fit: cover;
}

.hero__slide-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.hero__logo {
    animation: fadeUp .5s ease-in-out;
}

.hero__title {
    font-size: 6.875rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-title);
    animation: fadeUp .5s ease-in-out;
}

.hero__desc {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #fff;
    font-family: var(--font-italic);
    animation: fadeUp 0.8s ease-in-out;
}

.hero__btn {
    display: inline-block;
    margin-top: 2rem;
    animation: fadeUp 1s ease-in-out;
}

.hero__btn-link {
    display: block;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.hero__btn-link:hover {
    background-color: #fff;
    color: var(--color-title);
}

.slider__btn {
    position: absolute;
    outline: none;
    background: none;
    border: none;
    top: 50%;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease;
}

.slider__btn:hover {
    opacity: 1;
}

.slider__btn--right {
    right: 5%;
}

.slider__btn--left {
    left: 5%;
}

/* ---------------------------------------*/
/* about */
.about {
    background-color: var(--color-bg-gray);
}

.about__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1.75rem;
}

.about__img img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.about__name {
    margin: 0.5rem 0;
    line-height: 3.75rem;
    font-size: 1.5rem;
    color: var(--color-title);
    text-transform: uppercase;
}

.about__num {
    margin-right: 0.5rem;
    font-size: 3.75rem;
    font-family: var(--font-italic);
    color: var(--color-primary);
    font-weight: 400;
}

.about__desc {
    line-height: 1.6;
    max-height: 70px;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.about__btn {
    display: inline-block;
    margin-top: 0.75rem;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

.about__btn-icon {
    display: none;
    margin-left: 0.25rem;
    animation: fadeBackFromLeft 0.3s;
}

.about__btn:hover .about__btn-icon {
    display: inline-block;
}


/* ---------------------------------------*/
/* shop */
.shop__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1.75rem;
}

.shop__item:hover .shop__btn {
    display: block;
    height: 3.125rem;
}

.shop__item-link {
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;

}

.shop__item-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.shop__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    line-height: 3.125rem;
    background-color: var(--color-primary);
    opacity: 0.9;
    color: #fff;
    font-weight: 600;
    transition: all 0.35s;
}

.shop__btn-icon {
    margin-right: 0.5rem;
}


.shop__item-name {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: 600;
}

.shop__item-price {
    margin-top: 0.25rem;
    font-family: var(--font-italic);
    color: var(--color-primary);
}

.shop__item-start {
    font-size: 0.8rem;
    color: var(--color-primary);
    margin-right: 0.5rem;
}

/* ---------------------------------------*/
/* blog */
.blog {
    background-color: var(--color-bg-gray);
}

.blog__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1.75rem;
}

.blog__img img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.blog__name {
    width: 80%;
    margin: 1.25rem 0;
    color: var(--color-title);
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.blog__desc {
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog__btn {
    display: inline-block;
    margin-top: 0.75rem;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

.blog__btn-icon {
    display: none;
    margin-left: 0.25rem;
    animation: fadeBackFromLeft 0.3s;
}

.blog__btn:hover .blog__btn-icon {
    display: inline-block;
}

/* ---------------------------------------*/
/* animation */
@keyframes fadeUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeBackFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---------------------------------------*/
/* responsive */

/* Tablet & Mobile */
@media screen and (max-width: 1023px) {
    .hero__title {
        font-size: 4.5rem;
    }

    .hero__desc {
        font-size: 1.5rem;
    }

    .hero__slide-content {
        padding: 5%;
    }

    .section__container {
        width: 90%;
    }

    .about__name {
        font-size: 1.25rem;
    }

    .about__num {
        font-size: 2.5rem;
    }
}

/* Tablet */
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .shop__list {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    .hero {
        max-height: 35rem;
    }

    .hero__title {
        font-size: 1.5rem;
    }

    .hero__desc {
        font-size: 1rem;
    }

    .hero__logo img {
        width: 10rem;
        height: auto;
    }

    .hero__slide-img img {
        height: 35rem;
    }

    .section__title {
        font-size: 2.5rem;
    }

    .about__list {
        grid-template-columns: 100%;
    }

    .shop__list {
        grid-template-columns: 100%;
    }

    .blog__list {
        grid-template-columns: 100%;
    }
}